h1{
    background-color: green;
}

#contenedor img{
    float: left;
    height: 20%;
    width: 20%;
    margin: 30px;
}

.newStyle1{
    color: red;
}

.newStyle2{
    color: blue
    
}

li{
    font-size: 25px;
}

.destacar{
    background-color: red;
}

img{
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

#cubo{
    background-color: blue;
    height: 450px;
    width: 450px;
}